@import "~bootstrap/scss/bootstrap";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers|Ubuntu|Roboto&display=swap');

// End Imports
$main-color: hsl(79, 59%, 50%);
$secondary-color: hsl(79, 59%, 45%);
$dark-color: hsl(214, 17%, 25%);
$white-color: hsl(45, 60%, 96%);
$label-color: hsla(79, 59%, 50%, 0.8);
$error-color: hsl(358, 73%, 58%);

/* General */
*,*:before,*:after {box-sizing: inherit;}
body{margin:0;padding:0;position: relative;font-family: 'Bangers', cursive;font-family: 'Ubuntu', sans-serif;font-family: 'Roboto', sans-serif;color:#333;min-height: 100vh;box-sizing: border-box;overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{font-weight: normal;margin:0;padding:0;}
a,a:hover,a:focus{color: inherit;text-decoration: none;cursor: pointer;}
p{margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
img {max-width: 100%;height: auto;}
label{font-weight: normal;margin:0;}
button{background-color: transparent;border:none;box-shadow: none!important;outline: none!important;}
select{border:none;border-radius: 0;-webkit-appearance: none;}

/* Custom CSS */
main{
    min-height: 100vh;
    background: $main-color;
    background-image: linear-gradient(30deg, $dark-color, $dark-color);
}
main,
main form{width: 100%;float: left;position: relative;}
.main__wrapper{width: 100%;float: left;position: relative;height: auto;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;padding: 50px 0px;}

.main__wrapper h1{
    width: 50%;
    float: left;
    text-align: center;
    color: $main-color;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin:50px 0;
}

// Number of players
.wrapper__players{width: 100%;float: left;position: relative;}
.wrapper__players label{width:100%;float: left;position: relative;color: $label-color;}
.wrapper__players .btn-group{display: block;}
.wrapper__players button {background: $white-color;border-color: #444;color: $dark-color;float: left;width: 25%;max-width: 100px;}
.wrapper__players button:hover{color: $main-color}
.wrapper__players button.active{background: $main-color;color: $dark-color;font-weight: 400;}

// List Of players
.init_players{
    width: 100%;
    float: left;
    position: relative;
    margin:15px 0px;
}

ul#listOfPlayers{padding-inline-start:0px;list-style-type: none;float: left;position: relative;margin-bottom: 0px;}
ul#listOfPlayers li.playerName{width: 100%;float: left;position: relative;}
ul#listOfPlayers li.playerName + li.playerName{margin-top: 5px;}

ul#listOfPlayers li:nth-child(4),
ul#listOfPlayers li:nth-child(5),
ul#listOfPlayers li:nth-child(6){display: none;}

label.playerName__label{width: 100%;float: left;margin-bottom: 5px;color: $label-color;}
input.playerName__input{
    width: 100%;
    height: 40px;
    float: left;
    padding: 0px 15px;
    background-color: $white-color;
    border-radius: 5px;
    border:none;
    outline: none;
    //border-bottom: 3px solid transparent;
}
//input.playerName__input.valid{border-color: $main-color}
//input.playerName__input.invalid{border-color: $error-color}

label.playerName__label span.valid--hide,
label.playerName__label span.invalid--hide{
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0px;
    border-left: 1px solid rgba(0,0,0,0.1);
    display: none;
}

label.playerName__label span.valid--hide{color: $main-color}
label.playerName__label span.invalid--hide{color: $error-color}

input.playerName__input.valid + span + span.valid--hide{display: inline-flex;}
input.playerName__input.valid + span.invalid--hide{display: none;}
input.playerName__input.invalid + span + span.valid--hide{display: none;}
input.playerName__input.invalid + span.invalid--hide{display: inline-flex;}

span.playerName__help{display: none;color:$error-color;}
label.playerName__label.invalid + span.playerName__help{display: block;}

// Action Buttons
.wrapper__buttons {width: 100%;float: left;position: relative;display: flex;align-items: center;justify-content: flex-end;}
.wrapper__buttons button#start {padding: 5px 15px;background: $main-color;border-radius: 5px;border: 3px solid $main-color;font-family: 'Bangers', cursive;color: $dark-color;transition: all 250ms linear;}
